data/
important_training_dataset/
checkpoints/
test_controller_sim_results/
h5py_dataset/
training_data/
debug_outputs/
controllers/
sim_results/
stage2/sim_results/
stage2/sim_results_se/
stage2/scalarized_sim_results
stage2/sim_results_es_b3
stage2/sim_results_es_b4
stage2/sim_results_es_safe
stage2/sim_results_se_safe
stage2/plots
stage2/plots_se
stage2/plots_es
moe_data/
test_alg/sim_results_es_45
test_alg/sim7_results_es



test/

*.npz
*.pt
*.pth
*.h5
*.png


__pycache__/
*.pyc


.ipynb_checkpoints/

.DS_Store

*.out
*.err
