data/
important_training_dataset/
checkpoints/
test_controller_sim_results/
h5py_dataset/
training_data/
debug_outputs/
controllers/
sim_results/
stage2/sim_results/
stage2/sim_results_se/
stage2/scalarized_sim_results
stage2/sim_results_es_b3
stage2/sim_results_es_b4
stage2/sim_results_es_safe
stage2/sim_results_se_safe
stage2/plots
stage2/plots_se
moe_data/

test/

*.npz
*.pt
*.pth

__pycache__/
*.pyc


.ipynb_checkpoints/

.DS_Store

*.out
*.err
